/* Fixed with A0 layout */
@page {
	size: A0 portrait;
}

@media screen {
	body {
		background: #333333;
	}

	#page {
		width: 841mm;
		height: 1189mm;
		background: #ffffff;
		display: block;
		margin: 2em auto 2em auto;
		position: relative;
		box-shadow: 0 0 2em 0 rgba(0,0,0,0.9);
	}
}

@media print {
	body, #page {
		margin: 0;
	}
}

/* Typography */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}

/* KU Header */
#ku {
	border-bottom: 1mm solid #000000;
	height: 70mm;
	padding: 40mm;
}

#ku_logo {
	display: block;
	height: 135mm;
	position: absolute;
	right: 40mm;
	top: 25mm;
}

#ku h1, #ku h2 {
	color: #666666;
	font-family: 'Adobe Garamond Pro', 'EB Garamond', serif;
	font-weight: 400;
	letter-spacing: 0.25em;
	line-height: 1.5;
	margin: 0;
	max-width: 80%;
	padding: 0;
	text-transform: uppercase;
}
#ku h1 { font-size: 36pt; }
#ku h2 { font-size: 30pt; }

/* Decoration */

#cloud1 {
	position: absolute;
	top: 170mm;
	left: 10mm;
}

#cloud2 {
	position: absolute;
	top: 250mm;
	left: 160mm;
}

#cloud3 {
	position: absolute;
	top: 180mm;
	left: 100mm;
}

#cloud4 {
	position: absolute;
	top: 250mm;
	left: 10mm;
}

#cloud5 {
	position: absolute;
	top: 280mm;
	left: 200mm;
}

#cloud6 {
	position: absolute;
	top: 190mm;
	left: 710mm;
}

#cloud7 {
	position: absolute;
	top: 180mm;
	left: 460mm;
}

#cloud8 {
	position: absolute;
	top: 260mm;
	left: 340mm;
}

#cloud9 {
	position: absolute;
	top: 180mm;
	left: 650mm;
}

#cloud10 {
	position: absolute;
	top: 200mm;
	left: 540mm;
}

#cloud11 {
	position: absolute;
	top: 220mm;
	left: 420mm;
}

#cloud12 {
	position: absolute;
	top: 240mm;
	left: 730mm;
}

#cloud13 {
	position: absolute;
	top: 180mm;
	left: 320mm;
}

#cloud14 {
	position: absolute;
	top: 240mm;
	left: 450mm;
}

#ground {
	background: url('images/macrovector-ground.svg') repeat-x;
	background-size: auto 100%;
	position: absolute;
	left: 0;
	bottom: 150mm;
	height: 50mm;
	width: 100%;
}

#arrow1, #arrow2 {
	position: absolute;
	left: 400mm;
	width: 40mm;
	z-index: 1000;
}
#arrow1 { top: 540mm; }
#arrow2 { top: 780mm; }

/* Body */

#body {
	background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%);
	grid-column-gap: 10mm;
	grid-row-gap: 10mm;
	display: grid;
	font-size: 24pt;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 2fr 2fr;
	height: 847mm;
	padding: 20mm 40mm;
}

#title {
	color: #589632;
	font-family: 'TruenoRegular';
	grid-row: 1;
	grid-column: 1 / span 2;
	z-index: 999;
}

#title-a { 
	float: left;
	text-transform: lowercase;
	margin-top: 10mm;
}

#title-b {
	height: 120mm;
	float: left;
	margin: 0 10mm 0 0;
}

#title-c {
	display: block;
	font-size: 96pt;
	text-transform: lowercase;
	margin-top: 30mm;
}

#title-d {
	display: block;
	font-family: 'Trueno';
	margin: 0 0 0 170mm;
}

#abstract {
	display: none;
	grid-row: 1;
	grid-column: 3;
}

/* Content */
.content.tool {
	grid-col: 1;
	text-align: right;
	margin-top: 40mm;
}

.content.tool .inner {
	background: #f0e64a;
	float: right;
	padding: 5mm;
}

.content.tool h2 {
	font-size: 48pt;
	font-family: 'TruenoBold';
	color: #93b023;
	margin: 0;
}

.content.tool h3 {
	font-size: 36pt;
	font-family: 'Trueno';
	font-style: italic;
	color: #93b023;
	margin: 0;
}

.content.tool a {
	font-size: 30pt;
	font-family: 'Trueno';
	color: #93b023;
}

img.content {
	grid-col: 2;
	width: 90%;
	margin: 0 auto;
	z-index: 999;
}

img.content.qgis {
	width: 100%;
}

.content.text {
	display: grid;
	align-items: center;
	grid-col: 3;
	font-size: 30pt;
	color: #93b023;
}

.content.text p {
	margin: 0 0 1em 0;
}

.postgis {
	grid-row: 2;
}

.qgis {
	grid-row: 3;
}

.qfield {
	grid-row: 4;
}


/* Footer */
footer {
	border-top: 1mm solid #000000;
	color: #333333;
	display: grid;
	font-size: 18pt;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10mm;
	height: 110mm;
	padding: 20mm 40mm;
	position: absolute;
	bottom: 0;
	width: 761mm;
}

footer #logos { grid-column: 3; }
footer #acknowledgements { grid-column: 1; }
footer #repro { grid-column: 2; }
footer #authors { grid-column: 4; }

footer h2 {
	margin: 0;
	padding: 0;
}

#logos img {
	display: block;
	margin: 0 auto;
}

#logos figure {
	color: #666666;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	height: 65mm;
	letter-spacing: 0.2em;
	margin: 20mm 0 0 0;
	text-align: center;
	text-transform: uppercase;
}

#davids_logo {
	height: 25mm;
}

#cseas_logo {
	height: 40mm;
}

#acknowledgements, #repro {
	text-align: left;
}

#repro img {
	display: block;
	margin: 0 auto;
	width: 40mm;
}

#authors {
	text-align: right;
}

.author {
	clear: right;
}

#authors img {
	clear: right;
	float: right;
	width: 40mm;
	margin: 0 0 3mm 5mm
}

#authors h2 {
	font-size: 18pt;
	text-transform: uppercase;
}

#authors p, #authors ul {
	font-size: 18pt;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#authors li {
	font-size: 14pt;
	margin: 0;
	padding: 0;
}

#q img {
	position: absolute;
	bottom: 0;
	right: 30mm;
}

#q p {
	position: absolute;
	bottom: 45mm;
	right: 100mm;
	font-size: 18pt;
	color: #cccccc;
	text-align: right;
}
